header{
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
header::before{
  content: '';
  width: calc(100% - 30px);
  height: 2px;
  background-color: #abdff6;
  position: absolute;
  top: 100%;
  left: 15px;
}
header h2{
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 800;
}
header h2 a{
  color: rgb(20, 19, 19);
  text-decoration: none;
}
header h2 a:hover{
  color: black;
}
header ul{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
header ul li{
  list-style-type: none;
  padding: 0 7px;  
}
header ul li a{
  color: #777;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
header ul a:hover{
  color: #303030;
}  
.burger-btn{
  background-color: transparent;
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: none;
}
.burger-btn span{
  background-color: black;
  position: absolute;
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 3px;
  top: 0;
  transition: .3s;
}
.burger-btn span:nth-child(2){
  top: calc(50% - 3px);
  transform: translateY(50%);
}
.burger-btn span:last-child{
  top: calc(100% - 3px);
}

.burger-btn.active span{
  top: calc(50% - 3px);
  transform: translateY(50%);
  rotate: 130deg;
  background-color: red;
}
.burger-btn.active span:last-child{
  rotate: 45deg;
}
.burger-btn.active span:nth-child(2){
  display: none;
}

/* Start Responsive Code...  */
@media (max-width: 991px) {
  .burger-btn{
    display: block;
  }
  header ul{
    z-index: 100;
    display: none;
    width: 100%;
    position: absolute;
    top: calc(100% );
    left: 0;
    background-color: #abdff6;
  }
  header ul li{
    margin: 7px;
  }  
  header ul li a{
    color: #777;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    transition: .3s;
  }
  header ul a:hover{
    color: #303030;
    padding-right: 5px;
  } 
}