.slider.image{
  margin-top: 20px;
  width: 100%;
  height: calc(100vb - 96px);
  background-color: #c6e9f9;
  position: relative;
  transition: 3s;
}
.slider.image img{
  width: 100%;
  height: 100%;
  transition: 3s;
}
.slider.image span{
  color: white;
  text-shadow: 0 0 5px black;
  font-size: 30px;
  position: absolute;
  background-color: transparent;
  top: 0;
  width: 10%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  
}
.slider.image span.left{
  left: 0;
}
.slider.image span.right{
  right: 0;
}