.text{
  margin-right: 40px;
  margin-top: 40px;
}
.text span{
  list-style-type: circle; 
}
.text span li{
  text-wrap: wrap;
}
@media (max-width: 767px) {
  .text{
    margin-right: 0px;
  }
  .text span li{
    font-size: 16px;
  }
}